
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Face Motion</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>


    <!--test-->
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>

                    <!--<li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>-->
                </ul>
            </nav>
            <h3 class="text-muted">Face Motion</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Image Upload</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/my-link/" role="button">Upload</a>
            </p>
        </div>

        <div class="jumbotron">
             <img class="img-responsive" id="face" width="100%" src="https://i.ytimg.com/vi/2sikJPJzgaA/maxresdefault.jpg" alt="">
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Happiness</h4>
                <p><a class="btn btn-lg btn-success" href="/happy" role="button">Happiness</a></p>
 
                <h4>Sadness</h4>
                <p><a class="btn btn-lg btn-success" href="/sad" role="button">Sadness</a></p>
 
                <h4>Angry</h4>
                <p><a class="btn btn-lg btn-success" href="/angry" role="button">Angry</a></p>
            </div>
 
            <div class="col-lg-6">
                <h4>Fear</h4>
                <p><a class="btn btn-lg btn-success" href="/fear" role="button">Fear</a></p>
 
                <h4>Surprise</h4>
                <p><a class="btn btn-lg btn-success" href="/surprise" role="button">Surprise</a></p>
 
                <h4>Neutral</h4>
                <p><a class="btn btn-lg btn-success" href="/neutral" role="button">Neutral</a></p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>